name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          8.0.x
          9.0.x
          10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c Release
    - name: Test .NET 8.0
      run: dotnet test --no-build --verbosity normal -c Release -f net8.0
    - name: Test .NET 9.0
      run: dotnet test --no-build --verbosity normal -c Release -f net9.0
    - name: Test .NET 10.0
      run: dotnet test --no-build --verbosity normal -c Release -f net10.0
    - name: Test .NET Framework 4.8
      if: matrix.os == 'windows-latest'
      run: dotnet test --no-build --verbosity normal -c Release -f net48
